div.daily {
    /* div coloring */
    border: 1ch;
    border-radius: 1ch;
    border-color: black;
    background-color: blue;

    /* Text Properties */
    color: hotpink;
    text-align: center;

    /* Sizing and Positioning*/
    position: relative;
    width: 10%;
    height: 50%;
    float: left;
}

#sunday {
    position: relative;
    margin-left: 15%;
}
#saturday {
    position: relative;
    margin-right: 15%;
}
