{% extends '../base/base.html' %}

{% load static %}

{% block head %}
<head>
    <!-- 
        This Bootstrap was slightly modified from the one shown at:
        https://bootsnipp.com/snippets/featured/google-style-login-extended-with-html5-localstorage
     -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
{% endblock %}

{% block body %}
    <div class="container">
            <div class="card card-container">
                <form class="form-signin" method="POST" action="/login">
                    {% csrf_token %}
                    <span id="reauth-email" class="reauth-email"></span>
                    {% if error_message != "" %}
                        <p class="error">{{ error_message }}</p>
                    {% endif %}
                    <img src="{% static 'img/Wip_logo2.png' %}" class="logo">
                    <p class="app_name">Overlap</p>
                    <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                    <input name ="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                </form>
                <a href="#" class="forgot-password">Forgot the password?</a>
            </div>
        </div>
{% endblock %}
